@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  background: black;
  height: 100%;
  width: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.app-container {
  background: #f3f3ff;
}

.circle-pink {
  width: 600px;
  height: 600px;
  background: linear-gradient(to bottom, #fa39ad 40%, #fe6c4c 50%);
  filter: blur(230px);
  position: fixed;
  z-index: 0;
  top: 250px;
  left: 150px;
}

.circle-blue {
  width: 600px;
  height: 600px;
  background: linear-gradient(to bottom, #00abff 40%, #f8f4ee 50%);
  filter: blur(230px);
  position: fixed;
  z-index: 0;
  top: 400px;
  left: 1200px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: slategrey;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

@layer utilities {
  .about-section{
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 1s; 
    transition-timing-function: ease-in-out;
  }

  .about-t{
    opacity: 0;
  }

  .about-section.about-visible{
    opacity: 1;
    transform: translateY(-100px);
  }

  .about-section.about-visible .about-t{
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
  }

  .pjimg1,
  .pjimg2,
  .pjimg3 {
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  
  .parent.parent-visible .pjimg1 {
    transform: translateX(-192px);
    opacity: 1;
  }
  
  .parent.parent-visible .pjimg2{
    transform: translateX(192px);
    opacity: 1;
  }

  .parent.parent-visible .pjimg3{
    transform: translateX(255px);
    opacity: 1;
  }

  .container {
    opacity: 0;
  }

  .parent.parent-visible .container{
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
  }

  .container-text{
    opacity: 0;
  }
  
  .parent.parent-visible .container-text {
    opacity: 1;
    transition: opacity 1.5s ease-in-out 0.3s;
  }

  .pjimg3,
  .pjimg4 {
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  .experience.experience-visible .pjimg3 {
    transform: translateX(100px);
    opacity: 1;
  }

  .experience.experience-visible .pjimg4 {
    transform: translateX(300px);
    opacity: 1;
  }

  .container-experience {
    opacity: 0;
  }

  .experience.experience-visible .container-experience{
    opacity: 1;
    transition: opacity 1.5s ease-in-out 0.3s;
  }

  .arrow {
    opacity: 0;
  }

  .experience.experience-visible .arrow {
    opacity: 1;
    transition: opacity 1.5s ease-in-out 0.3s;
  }

  .card {
    transition: transform 0.3s ease-in-out;
  }
  .card:hover {
    transform: scale(1.1); /* Scale up on hover */
  }
}

